@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --roboto-slab: 'Roboto Slab', serif;
    --blue: #2BAAEC;
    --green: #25E6C8;
    --gray: #363636;
    --soft-gray: #626262;
    --light-gray: #DEDEDE;
    --off-white: #F7F7F7;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-weight: 400;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 16px;

    margin: 0;
    padding: 0;
    min-width: 300px;
}

h1,
h2,
h3 {
    font-weight: 400;
    font-family: var(--roboto-slab);
}


/* ! GENERAL ! */
.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.horizontal-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem 1.75rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.15s;
    outline: none;
}

a {
    color: var(--blue);
    text-decoration: none;
    transition-duration: 0.15s;
}

a:hover {
    color: var(--green);
}

.blue-text {
    color: var(--blue);
}

.hr-green {
    border: 1px solid var(--green);
    padding: 0;
    margin: 0;
}




/* ! CONTAINER ! */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 300px;
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}




/* ! TOP BAR ! */
#top-bar {
    display: none;
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

@media (min-width: 768px) {
    #top-bar {
        display: block;
    }
}

#top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#top-bar .container .working-hours {
    flex: 2;
    color: var(--soft-gray);
}

#top-bar .container .working-hours i {
    margin-right: 0.3rem;
    color: var(--blue);
    font-size: 1.2em;
}

/* Socials */
#top-bar .socials {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#top-bar .socials li {
    margin-left: 1rem;
}




/* ! NAVIGATION MENU ! */
#main-menu {
    font-family: var(--roboto-slab);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    #main-menu {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

#main-menu .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Logo */
#main-menu .container .logo {
    height: 60px;
}

@media (min-width: 360px) {
    #main-menu .container .logo {
        height: 70px;
    }
}

@media (min-width: 768px) {
    #main-menu .container .logo {
        height: 80px;
    }
}

/** Menu */

#nav-btn {
    display: inline-flex;
    font-weight: 300;
    font-size: 1rem;
}

#main-menu .container .menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

#main-menu .container .menu ul {
    display: none;
}

@media (min-width: 768px) {
    #main-menu .container .menu ul {
        display: flex;
    }
}

#main-menu .container .menu ul li {
    margin-left: 1.3rem;
}

#main-menu .container .menu ul li a {
    color: var(--gray);
    font-family: var(--roboto-slab);
}

#main-menu .container .menu ul li a:hover {
    color: var(--blue);
}

#main-menu .container .menu button {
    font-size: 2rem;
    padding: 0;
}

@media (min-width: 768px) {
    #main-menu .container .menu button {
        display: none;
    }
}





/* ! SHOWCASE ! */
#showcase .container {
    background: var(--light-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

#showcase .img-person {
    max-height: 450px;
    align-self: flex-end;
    display: none;
}

@media (min-width: 768px) {
    #showcase .img-person {
        display: block;
    }

    #showcase .info-text {
        max-width: 33%;
        margin-left: 3rem;
    }
}

/* Button */
#about-our-clinic {
    background-color: var(--green);
    color: white;
    font-weight: bold;
    padding: 0.75rem 2rem;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-family: var(--roboto);
}

#about-our-clinic:hover {
    background-color: var(--blue);
}

.info-text h1 {
    font-family: var(--roboto-slab);
    color: var(--gray);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.info-text p {
    font-family: var(--roboto);
    color: var(--soft-gray);
    font-size: 1rem;
}




/* ! ABOUT US ! */
#about-us {
    display: flex;
}

#about-us .info-text {
    margin-left: 0;
}

@media (min-width: 768px) {
    #about-us .info-text {
        max-width: 40%;
        margin-left: 1rem;
    }
}

#about-us .container {
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

@media (min-width: 992px) {
    #about-us .container {
        justify-content: space-evenly;
    }
}

#about-us .img-person {
    max-height: 550px;
    align-self: flex-end;
    display: none;
}

@media (min-width: 768px) {
    #about-us .img-person {
        display: block;
    }
}

@media (min-width: 992px) {
    #about-us .img-person {
        max-height: 600px;
    }
}



#statistics {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

@media (min-width: 768px) {
    #statistics {
        justify-content: space-between;
    }
}

#statistics .info-box {
    margin-right: 2.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

#statistics .info-box:last-child {
    margin-right: 0;
}

#statistics .info-box h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}


@media (min-width: 768px) {
    #statistics .info-box {
        text-align: start;
    }
}

#statistics .info-box p {
    font-family: var(--roboto-slab);
    margin-top: 0;
}



/* ! SERVICES ! */
#services {
    background: var(--off-white);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#services-title {
    font-family: var(--roboto-slab);
    grid-area: ti;
}

#services-title h1 {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

#services-title hr {
    width: 20rem;
    margin: 0 auto;
}

#services .container {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "ti""b1""b2""b3""b4""b5""b6";
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    #services .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "ti ti ti"
            "b1 b2 b3"
            "b4 b5 b6";
    }

    #box-1 {
        grid-area: "b1";
    }

    #box-2 {
        grid-area: "b2";
    }

    #box-3 {
        grid-area: "b3";
    }

    #box-4 {
        grid-area: "b4";
    }

    #box-5 {
        grid-area: "b5";
    }

    #box-6 {
        grid-area: "b6";
    }
}

.service-box {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ebebeb;
    transition: box-shadow 0.3s;
}

.service-box:hover {
    box-shadow: 4px 4px 6px #DEDEDE;
}


.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100%;
    background: var(--green);
    height: 100px;
    width: 100px;

    transition: background 0.2s;
}


#box-1 .circle img {
    padding-left: 9px;
}

#box-3 .circle img {
    padding-top: 4px;
    padding-left: 3px;
}

#box-5 .circle img {
    padding-top: 7px;
}


.circle:hover {
    background: var(--blue);
}







/* ! APPOINTMENT SECTION ! */
#appointment {
    background-color: rgba(43, 170, 236, 0.8);
}

#appointment .container {
    color: #F3FBFF;
    padding: 32px;
    display: flex;
    justify-content: space-around;
}

#appointment p {
    font-family: var(--roboto-slab);
}

#bookappointment {
    color: var(--blue);
    background: white;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

#bookappointment:hover {
    background: none;
    color: white;
    border: 2px solid white;
}

/* ! FOOTER ! */
footer {
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--blue);
    color: #F3FBFF;
    text-align: center;
    padding: 32px;
}

footer span {
    opacity: 60%;
    font-size: 0.9rem;
}